@font-face {
	font-family: Plump;
	src:url(assets/fonts/Plump.ttf);
}
@font-face {
	font-family: Roboto-Light;
	src:url(assets/fonts/Roboto-Light.ttf);
}
@font-face {
	font-family: Roboto-Regular;
	src:url(assets/fonts/RobotoRegular.ttf);
}